Host jdeep_bastion
   User ubuntu
   HostName 91.123.202.165
   IdentityFile /home/gowtham/.ssh/id_rsa
   UserKnownHostsFile /dev/null
   StrictHostKeyChecking no
   PasswordAuthentication no
 
Host jdeep_proxy
   User ubuntu
   HostName 91.123.202.186
   IdentityFile /home/gowtham/.ssh/id_rsa
   StrictHostKeyChecking no
   PasswordAuthentication no 
   ProxyJump jdeep_bastion
